.card {
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 500px;
  border: 1px solid var(--light);
  border-radius: 15px;
  box-shadow: 0 -5px var(--light);
  text-align: center;
  line-height: 1.25em;
  padding: 15px;
}

.card > * {
  margin: 10px;
}

#set, #type {
  font-style: italic;
}

.cardImg {
  width: 275px;
}

@media screen and (max-width: 1033px) {
  .card {
    max-width: 600px;
    margin-bottom: 30px;
  }
}